* {
  margin: 0;
  text-decoration: none;
}
body {
  background-color: lightslategray;
}
.head {
  background-color: palegreen;
  width: 100%;
  margin-top: 10px;
  height: 80px;
  box-shadow: -5px 5px 7px 5px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
}
.ahh {
  justify-content: center;
  margin-right: 10px;
  display: flex;
}
.ahh a {
  text-align: center;
  color: black;
  padding: 20px;
  border: 0, 50px solid;
  font-size: 25px;
  display: flex;
}
.ahh a:hover {
  background: white;
}

.main {
  background: transparent;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  background-color: bisque;
  width: 20%;
  margin: 15px;
  padding: 5px;
  height: 95%;
  box-shadow: -5px 5px 5px 5px bisque;
  border-radius: 10px;
  margin-top: 50px;
  overflow-y: scroll;
}
li {
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}
li :hover {
  background: white;
}
ul {
  list-style: none;
}
.ahh a {
  text-align: center;
}
.menu2 {
  background-color: palegreen;
  width: 55%;
  margin: 15px;
  padding: 5px;
  height: 95%;
  box-shadow: -5px 5px 7px 5px palegreen;
  border-radius: 10px;
  margin-top: 50px;
  overflow-y: scroll;
}
p {
  text-align: center;
  font-family: monospace;
  padding: 10px;
}

.aside {
  background-color: bisque;
  width: 20%;
  margin: 15px;
  padding: 5px;
  height: 95%;
  box-shadow: -5px 5px 7px 5px bisque;
  border-radius: 10px;
  margin-top: 50px;
  overflow-y: scroll;
}
.aside img {
  width: 350px;
  border-radius: 10px;
}

.menu2 img {
  width: 400px;
  float: left;
}
